@import "tailwindcss";


#main {
  background-image: url('/bg3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

/* Mobile background override */
@media (max-width: 640px) {
  #main {
    background-image: url('/mobilebg4.webp');
    padding-right: 35px;
    background-size: auto;

    
  }
}