@import "tailwindcss";


#main {
  background-image: url('/home/shivangi/Desktop/School/as-driving-school/public/bg3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}